
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>二维码预览</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <style>
        .a4-endwise {
            width: 1075px;
            height: 1400px;
            border: 1px #000 solid;
            overflow: hidden;
            padding: 0;
            word-break: break-all;
            text-align: center;
        }

            .a4-endwise table {
                border: 1px #000 solid;
                width: 80%;
                max-width: 80%;
                margin: 0px 100px;
                text-align: center;
                font-size: 20px;
            }

        .print {
            position: fixed;
            top: 1%;
            right: 10%;
        }
    </style>
</head>

<body>
    <a id="CodePrint" class="print" href="javascript:void(0);" onclick="RunPrint();" >打印</a>
    <!--startprint-->
    <div class="container a4-endwise" style="text-align: left;">
        @foreach (var url in ViewBag.QRCodeUrls)
        {
            <img src="@url" />
        }
    </div>
    <!--endprint-->
    <script>
        function RunPrint() {
                bdhtml=window.document.body.innerHTML;//获取当前页的html代码
                sprnstr="<!--startprint-->";//设置打印开始区域
                eprnstr="<!--endprint-->";//设置打印结束区域
                prnhtml=bdhtml.substring(bdhtml.indexOf(sprnstr)+18); //从开始代码向后取html
                prnhtml=prnhtml.substring(0,prnhtml.indexOf(eprnstr));//从结束代码向前取html
                window.document.body.innerHTML=prnhtml;
                window.print();
                window.document.body.innerHTML=bdhtml;
            }
    </script>

</body>
</html>
