
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>设备管理系统登陆</title>

    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="~/lib/bootstrap/dist/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="~/lib/bootstrap/dist/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="~/lib/bootstrap/dist/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="~/lib/bootstrap/dist/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="~/lib/bootstrap/dist/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
    <link rel="icon" href="~/lib/bootstrap/dist/assets/img/favicons/favicon.ico">
    <meta name="msapplication-config" content="~/lib/bootstrap/dist/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#563d7c">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.md5.js"></script>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="~/lib/bootstrap/dist/assets/css/signin.css" rel="stylesheet" />
</head>
<body class="text-center">
    <form class="form-signin">
        <img class="mb-4" src="~/lib/bootstrap/dist/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">请登录</h1>

        <label for="inputPhone" class="sr-only">电话号码</label>
        <input type="text" id="inputPhone" class="form-control" placeholder="电话号码" required autofocus>

        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="密码" required>
        <p class="text-error" id="error"></p>
        <button class="btn btn-lg btn-primary btn-block" type="button" id="login_btn" >登录</button>

        <p class="mt-5 mb-3 text-muted">&copy; 2020-@DateTime.Now.Year</p>
    </form>
</body>
</html>
<script>
    $(function () {
        $("#login_btn").click(function () {
            $("#error").html("");
            var data = {
                Phone: $("#inputPhone").val().trim(),
                Password: $("#inputPassword").val().trim()
            };
            if (data.Phone == "") {
                $("#error").html("请输入手机号码");
                 return;
            }
              
            if (data.Password == "") {
                $("#error").html("请输入密码");
                 return;
            }
              
            data.Password=$.md5(data.Password)

            $.ajax({
                type: "POST",
                url: "/System/RunLogin",
                contentType: "application/json",
                data: JSON.stringify(data),
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Something went wrong!");
                },
                success: function (result) {
                    console.log(result);
                    if (result != null && result.userId != undefined && result.userId != "") {
                        if (result.redirectUrl == undefined || result.redirectUrl == "") {
                            location.href = "/Equipment/List";
                        } else {
                             location.href = result.redirectUrl;
                        }
                    }
                    $("#error").html(result);
                }
            });
        });
    });

</script>