@model Equipment.Models.User.UserEntity

@{
    ViewData["Title"] = "Add";
}
<div>
    <div style="margin-top:20px">
        <div class="col-md-6 mb-3">
            <label for="UserName" class="sr-only">姓名</label>
            <input type="text" id="UserName" class="form-control" placeholder="姓名" autocomplete="off" required autofocus style="width:80%">
        </div>
        <div class="col-md-6 mb-3">
            <label for="Phone" class="sr-only">电话号码</label>
            <input type="text" id="Phone" class="form-control" placeholder="电话号码" autocomplete="off" required autofocus style="width:80%">
        </div>
        <div class="col-md-6 mb-3">
            <label for="Password" class="sr-only">密码</label>
            <input type="password" id="Password" class="form-control" placeholder="密码" autocomplete="off" required autofocus style="width:80%">
        </div>
        <div class="col-md-6 mb-3" >
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="IsSuperAdmin" />
                <label class="custom-control-label" for="IsSuperAdmin">是否管理员</label>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="text-error" id="error" style="display:none"></div>
            <button class="btn btn-lg btn-primary btn-block" type="button" id="save_btn" style="width:80%">保存</button>
        </div>
     </div>
</div>
<script src="~/lib/jquery-md5/jquery.md5.js"></script>
<script>
    $(function () {
        $("#UserList").addClass("active");
        $(".form-control").each(function () {
            $(this).val("");
        });
        $("#save_btn").click(function () {
            $("#error").html("");
            var data = {
                UserName: $("#UserName").val().trim(),
                Phone: $("#Phone").val().trim(),
                Password: $("#Password").val().trim()
            };
            if (data.UserName == "") {
                $("#error").html("请输入名称");
                return;
            }
            if (data.Phone == "") {
                $("#error").html("请输入手机号码");
                return;
            }

            if (data.Password == "") {
                $("#error").html("请输入密码");
                return;
            }
            data.Password = $.md5(data.Password);

            if ($("#IsSuperAdmin").is(':checked')) {
                data.IsSuperAdmin = 0;
            } else {
                data.IsSuperAdmin = 1;
            }

            $.ajax({
                type: "POST",
                url: "/User/RunAdd",
                contentType: "application/json",
                data: JSON.stringify(data),
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Something went wrong!");
                },
                success: function (result) {
                    console.log(result);
                    if (result != null && result == "1") {
                        alert("新增成功");
                        location.href = "/User/List";
                    } else {
                        alert("保存失败:" + result);
                    }
                    $("#error").html(result);
                }
            });
        });
    });

</script>

