
@{
    ViewData["Title"] = "密码修改";
}

    <div class="text-center">
        <div style="margin-top:20px">
            <label for="Password" class="sr-only">密码</label>
            <input type="Password" id="Password" class="form-control" placeholder="密码" autocomplete="off" required autofocus style="width:40%" value="">

            <div class="text-error" id="error" style="display:none"></div>
            <button class="btn btn-lg btn-primary btn-block" type="button" id="save_btn" style="width:40%">保存</button>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.md5.js"></script>
    <script>
    $(function () {
        $("#AccountPassword").addClass("active");
        $("#AccountList_Item_Ul").css("display", "");

        $("#save_btn").click(function () {
            $("#error").html("");
            var data = {
                Password: $("#Password").val().trim()
            };
            if (data.Password == "") {
                $("#error").html("请输入密码");
                return;
            }
            data.Password = $.md5(data.Password);

            $.ajax({
                type: "POST",
                url: "/Account/RunInfoUpdate",
                contentType: "application/json",
                data: JSON.stringify(data),
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Something went wrong!");
                },
                success: function (result) {
                    if (result != null && result == "1") {
                        alert("修改成功");
                        location.href = "/System/LoginOut";
                    } else {
                          alert("修改失败:"+result);
                    }
                }
            });
        });
    });

    </script>

